body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fefae0; /* Lightest color from the first palette - default light mode */
    color: #283618; /* Darkest color from the first palette - default light mode */
}

header {
    background-color: #22333b; /* Color from the first palette - default light mode */
    color: #fefae0; /* Lightest color from the first palette - default light mode */
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #22333b; /* Color from the first palette - default light mode */
    color: #fefae0; /* Lightest color from the first palette - default light mode */
    text-align: center;
    padding: 20px;
}

main {
    padding: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.section {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.section h2 {
    color: #22333b; /* Darkest color from the first palette - default light mode */
    padding: 30px;
    margin-top: 0px;
    text-align: center;
}

.section p {
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.dark-mode .section p {
    color: #eae0d5; /* Lightest color from the second palette */
}

button {
    background-color: #5e503f; /* Color from the first palette - default light mode */
    color: #eae0d5; /* Lightest color from the first palette - default light mode */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #dda15e; /* Second lightest color from the first palette */
}

.top-button {
    background-color: transparent; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
    margin-right: 10px; /* Add some right margin */
}

/* CSS for Mobile Devices */
@media only screen and (max-width: 600px) {
    .mobile-device body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.6;
        background-color: #0a0908; /* Background color from palette 2 - default dark mode */
        color: #eae0d5; /* Text color from palette 2 - default dark mode */
    }

    .mobile-device header {
        background-color: #22333b; /* Header background color from palette 2 - default dark mode */
        color: #eae0d5; /* Header text color from palette 2 - default dark mode */
        
        padding: 14; /* Remove padding */
        margin: 0; /* Remove margin */
        text-align: center;
    }

    .mobile-device footer {
        background-color: #22333b; /* Footer background color from palette 2 - default dark mode */
        color: #eae0d5; /* Footer text color from palette 2 - default dark mode */
        text-align: center;
        padding: 20px;
    }

    .mobile-device main {
        padding: 20px; /* Adjust padding for better spacing */
        margin: 0;
    }

    .mobile-device .section {
        margin-bottom: 20px; /* Adjust margin for better spacing */
        padding-bottom: 20px; /* Adjust padding for better spacing */
    }

    .mobile-device .section h2 {
        color: #283618; /* Text color from palette 1 */
        padding: 0;
        margin-top: 0;
    }

    .mobile-device .section p {
        margin-bottom: 10px; /* Adjust margin for better spacing */
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-device .dark-mode .section p {
        color: #eae0d5; /* Lightest color from the second palette */
    }

    .mobile-device button {
        background-color: #5e503f; /* Button background color from palette 2 - default dark mode */
        color: #eae0d5; /* Button text color from palette 2 - default dark mode */
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
    }

    .mobile-device button:hover {
        background-color: #dda15e; /* Button hover background color from palette 1 */
    }

    .mobile-device .top-button {
        background-color: transparent; /* Remove background */
        border: none;
        cursor: pointer;
        margin-right: 10px; /* Add some right margin */
    }
    
    .mobile-device .banner {
        padding-top: 40px; /* Increase top padding */
        padding-bottom: 20px; /* Add bottom padding */
        margin-top: 0; /* Remove any top margin for the banner */
    }
}
