:root {
    --lightest-color: #fefae0;
    --darkest-color: #283618;
    --second-lightest-color: #dda15e;
    --body-background-color: var(--lightest-color);
    --body-text-color: var(--darkest-color);
    --header-background-color: #22333b;
    --header-text-color: var(--lightest-color);
    --footer-background-color: #22333b;
    --footer-text-color: var(--lightest-color);
    --section-text-color: #22333b;
    --button-background-color: #5e503f;
    --button-text-color: var(--lightest-color);
    }
    
    .dark-theme {
    --body-background-color: #1F1F1F;
    --body-text-color: #eae0d5;
    --header-background-color: #22333b;
    --footer-background-color: #22333b;
    --section-text-color: #eae0d5;
    --button-background-color: #5e503f;
    --button-text-color: #eae0d5;
    }
    
    .dark-theme a {
    color: #eae0d5; /* Change color of all <a> elements */
    }

    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    }

    header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 20px;
    text-align: center;
    }

    footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 20px;
    }

    main {
    padding: 12px;
    }

    .section h2 {
    color: var(--section-text-color);
    padding: 30px;
    margin-top: 0px;
    text-align: center;
    }

@media only screen and (min-width: 600px) {

    main {
    padding: 30px;
    margin-left: 60px;
    margin-right: 60px;
    }

    .section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    }

    .section p {
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    }

}

    a {
    font-family: Arial, sans-serif;
    color: var(--darkest-color);
    }
    
    .dark-mode .section p {
    color: var(--lightest-color);
    }
    
    .dark-mode a {
    color: var(--lightest-color);
    }
    
    button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    }
    
    button:hover {
    background-color: var(--second-lightest-color);
    }
    
    .top-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    }

    /* CSS for Mobile Devices 
@media only screen and (max-width: 600px) {

    .mobile-device body {
    --body-background-color: #0a0908;
    --body-text-color: #eae0d5;
    padding: 0px;
    margin: 0;
    }
    
    .mobile-device header {
    --header-background-color: #22333b;
    --header-text-color: #eae0d5;
    padding: 14px;
    margin: 0;
    text-align: center;
    }
    
    .mobile-device footer {
    --footer-background-color: #22333b;
    --footer-text-color: #eae0d5;
    text-align: center;
    padding: 20px;
    }
    
    .mobile-device main {
    padding: 12px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    }
    
    .mobile-device .section {
    margin-bottom: 10px;
    padding-bottom: 10px;
    }
    
    .mobile-device .section h2 {
    color: var(--darkest-color);
    padding: 0;
    margin-top: 0;
    }
    
    .mobile-device .section p {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    }
    
    .mobile-device .dark-mode .section p {
    color: var(--lightest-color);
    }
    
    .mobile-device button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    }
    
    .mobile-device button:hover {
    background-color: var(--second-lightest-color);
    }
    
    .mobile-device .top-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    }
    
    .mobile-device .banner {
    padding-top: 24px;
    padding-bottom: 20px;
    margin-top: 0;
    }
}

*/